:root{
    --base-color: #151515;
    --text-color: white;
    --button-text-color: black;
}

.theme{
    --base-color: white;
    --text-color: black;
    --button-color-hovered: black;
    --button-text-color: white;
    --link-color-hovered: black;
    --icon-color: 1;
}

body{
    transition: 0.2s;
    margin: 0;
    color: var(--text-color);
    background-color: var(--base-color);
    font-family: "Roboto", sans-serif;
}

*{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

video{
    border-radius: 2vh;
}