button{
    padding: 5px;
    border-radius: 5px;
    background-color: #096cdd;
    border-style: none;
    color: white;
    transition: 0.1s;
    display: flex;
    align-items: center;
    gap: 0.5vh;
}

.theme-switch{
    padding: 1vh;
    border-radius: 5vh;
    background-color: #222020;
    border-color: #222020;
}

.goup-btn{
    padding: 1vh;
    border-radius: 5vh;
    background-color: rgb(34, 32, 32);
    fill: rgb(255, 0, 0);
    border-color: #222020;
}

.theme-switch svg:last-child{
    display: none;
}

.theme .theme-switch svg:first-child{
    display: none;
}

.theme .theme-switch svg:last-child{
    display: block;
}

.theme-switch svg{
    animation: scaleup .3s;
}

@keyframes scaleup {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

button:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    border-color: white;
}

button:active{
    transform: scale(0.9, 0.9);
    filter: blur(1px);
}

.img1{
    border-radius: 3vh;
    transition: 0.1s;
    opacity: 1;
}

.img1:hover{
    transform: scale(1.03, 1.03);
    filter: brightness(120%);
}