button{
    padding: 1vh;
    border-radius: 5px;
    border: none;
    background-color: #096cdd;
    color: white;
    transition: 0.2s;
}

.button-yt{
    background-color: red;
}

.button-story{
    background-color: green;
}

.theme-switch{
    background-color: rgb(34, 32, 32);
}

button:hover{
    cursor: pointer;
    background-color: var(--button-color-hovered);
    color: var(--button-text-color);
    --icon-color: 0;
}

.img1{
    border-radius: 3vh;
    transition: 0.1s;
    opacity: 1;
}

.img1:hover{
    transform: scale(1.03, 1.03);
    filter: brightness(120%);
}