
/* Properties for body element */

body{
    margin: 0;
    color: white;
    background-color: #151515;
    font-family: "Roboto", sans-serif;
}

*{
    scroll-behavior: smooth;
}

/* Properties for navbar */

nav{
    overflow: hidden;
    position: sticky;
    top: 0;
    backdrop-filter: blur(4px);
}

/* Properties for lists */

ul, li{
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: center;
}

/* Properties for links */

a{
    color: rgb(2, 120, 255);
    text-decoration: none;
    transition: 0.1s;
}

/* Properties for links when you hover them */

a:hover{
    color: white;
}

/* idk what is this but Yet another flex container properties*/

.flex-items{
    margin: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Properties for the container for the introduction heading and other
/* sections */

.container{
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.introduction-heading{
    text-align: center;
    margin-bottom: -5vh;
    font-size: 3vh;
}

.introduction-p{
    font-size: 2vh;
    margin: 2vh;
    color: #808080;
    text-align: center;
}


/* Flex container properties for the buttons */

.introduction-buttons{
    display: flex;
    justify-content: center;
    gap: 5vh;
}

/* News date properties */

.news-p{
    font-size: 2vh;
    margin-bottom: -3vh;
    text-align: center;
}

/* Padding for the sections */

section{
    padding-bottom: 20vh;
}

/* Align text to the center for the footer */

footer{
    text-align: center;
}

/* Properties for buttons */

button{
    padding: 1vh;
    border-radius: 5px;
    border: none;
    background-color: #096cdd;
    color: white;
    transition: 0.2s;
}

/* Properties for youtube button */

.button-yt{
    background-color: #ff0000;
}

button:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
}

/* Properties for FA icons */

i{
    padding-right: 10px;
}

/* Typewriter text animation sadly doesnt work correctly */

.skills, span::before{
    content: "15 Year old";
    animation: words 130s infinite;
}

.skills, span::after{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(22) alternate infinite, cursor 0.5s infinite alternate;
    animation-delay: inherit;
    border-right: 4px solid #FFFFFF;
}

@keyframes typing {
    /* Typing animation */
    0% {
      width: 0
    }
    50% {
      width: 100%
    }
}

@keyframes words {
    /* Text content */
    10%,20%{content: "Juniour Web Developer";}
    30%,40%{content: "Juniour Godot programmer";}
    40%,50%{content: "Gamer";}
}

@keyframes cursor {
    to{
        border-color: #ff0000;
        border-width: 1px;
    }
}