a{
    color: rgb(2, 120, 255);
    text-decoration: none;
    transition: 0.1s;
}

a:hover{
    color: var(--link-color-hovered);
}

.news-p{
    font-size: 2vh;
    margin-bottom: -3vh;
    text-align: center;
}

.introduction-p{
    font-size: 2vh;
    margin: 1vh;
    color: #808080;
    text-align: center;
}

.introduction-heading{
    text-align: center;
    margin-bottom: -5vh;
    font-size: 3vh;
}

i{
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(var(--icon-color-hovered));
    transition: 0.2s;
}