.skills, span::before{
    content: "";
    animation: words 20s infinite;
}

.skills, span::after{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(20) alternate infinite, cursor 1s steps(2) infinite;
    border-right: 1px solid #FFFFFF;
}

@keyframes typing {
    /* Typing animation */
    0% {
      width: 0
    }
    70% {
      width: 100%
    }
}

@keyframes words {
    /* Text content */
    0%,20%{content: "15 Year old";}
    21%,40%{content: "Juniour Web Developer";}
    41%,60%{content: "Juniour Godot Programmer";}
    61%,80%{content: "Gamer";}
    81%,100%{content: "Small Content Creator";}
}

@keyframes cursor {
    to{
        border-style: none;
    }
}

.skills-text{
    display: inline-block;
}