.skills, .skills::before{
    content: "";
    animation: words 20s infinite;
}

.skills, .skills::after{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(15) alternate infinite, 
    blink 1s infinite;
    border-right: 1px solid #FFFFFF;
}

@keyframes typewriter {
    0%{width: 0;}
    70%{width: 100%;}
}

@keyframes words {
    /* Text content */
    0%,20%{content: "Im 15 Year old";}
    21%,40%{content: "Im Juniour Web Developer";}
    41%,60%{content: "Im Gamer";}
    81%,100%{content: "Im Small Content Creator";}
}

@keyframes blink {
    to{border-style: none;}
}

.skills-text{
    display: inline-block;
}